.yourYoutubeAi {
  margin: 0;
}
.yourYoutubeAiContainer {
  position: relative;
  white-space: pre-wrap;
}
.yourYoutubeAiAssistantWrapper {
  position: absolute;
  width: 51.47%;
  top: 40px;
  right: 20%;
  left: 28.53%;
  height: 114px;
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.homeChild {
  position: absolute;
  width: 82.78%;
  top: 143px;
  right: 7.57%;
  left: 9.64%;
  max-width: 100%;
  overflow: hidden;
  height: 324px;
  object-fit: cover;
}
.imHereTo {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.btnGoogleSigninLightNormalIcon {
  position: relative;
  width: 283.39px;
  height: 46px;
  object-fit: cover;
}
.imHereToHelpYouWithWhatParent {
  position: absolute;
  width: 79.38%;
  top: 501px;
  right: 10.88%;
  left: 9.74%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 55px;
  text-align: center;
  font-size: var(--app-body-size);
  font-family: var(--app-body);
}
.iconfillmenu,
.userCirleIcon {
  position: absolute;
  max-height: 100%;
}
.userCirleIcon {
  height: 3.28%;
  top: 1.6%;
  right: 22.33px;
  bottom: 95.11%;
  width: 26.67px;
}
.iconfillmenu {
  height: calc(100% - 780px);
  top: 8px;
  bottom: 772px;
  left: 16px;
  width: 32px;
}
.home {
  position: fixed;
  background-color: var(--others-screen-bg);
  width: 100%;
  height: 850px;
  overflow: hidden;
  text-align: left;
  font-size: 23px;
  color: var(--color-black);
  font-family: var(--font-nunito);
}
