.home-button {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.home-icon {
  width: 32px; /* Adjust the width to your desired size */
  height: 32px; /* Adjust the height to your desired size */
  /* Add any other desired styles */
}